schemaVersion: 2.1.0
metadata:
  generateName: {{ new_project_name }}
projects:
  - name: {{ new_project_name }}
    git:
      remotes:
        origin: 'http://gitea.{{ ocp_ingress_domain }}/{{ new_user_username }}/{{ new_project_name }}'
components: []
