<!DOCTYPE html>
<html>
   <head>
      <title>New Associate Information - {{ new_user_firstname }} {{ new_user_surname }}</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Project Name</th>
            <th>Project Repository</th>
            <th>DevWorkspace</th>
         </tr>
         <tr>
            <td>{{ new_project_name }}</td>
            <td>http://gitea.{{ ocp_ingress_domain }}/{{ new_user_username }}/{{ new_project_name }}</td>
            <td>Access DevWorkspace: {{ new_user_username }} / {{ new_user_password }}</td>
         </tr>
      </table>
   </body>
</html>
