# {{ new_project_name }}

Acces to your personal development environment clicking to the button bellow:

[![Create workspace](https://img.shields.io/badge/Red%20Hat-EE0000?style=for-the-badge&logo=redhat&logoColor=white)](https://devspaces.{{ ocp_ingress_domain }}/#http://gitea.{{ ocp_ingress_domain }}/{{ new_user_username }}/{{ new_project_name }}/raw/branch/master/dev.yml)
